# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [146]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [147]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [148]:
chipo = pd.read_csv(url, sep='\t')

### Step 4. See the first 10 entries

In [149]:
pd.set_option('display.max_colwidth', None)

In [150]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour Cream, Guacamole, Lettuce]]",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Cheese, Sour Cream, Lettuce]]",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Lettuce]]",$9.25

### Step 5. What is the number of observations in the dataset?

In [151]:
# Solution 1
len(chipo)

4622

In [152]:
# Solution 2
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [153]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [154]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [155]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [156]:
most_ordered_item = chipo.groupby("item_name")["order_id"].count().idxmax()
print(most_ordered_item)

Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [157]:
most_ordered_items = chipo.groupby("item_name")["order_id"].count().sort_values(ascending=False).reset_index()
most_ordered_items = most_ordered_items.rename(columns={"order_id":"num_of_orders"})
most_ordered_items.head(1)

      item_name  num_of_orders
0  Chicken Bowl            726

### Step 11. What was the most ordered item in the choice_description column?

In [158]:
most_ordered_in_item_description = chipo.groupby('choice_description')['order_id'].count().sort_values(ascending=False)
most_ordered_in_item_description.head(10)
most_ordered_in_item_description.idxmax()

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [159]:
chipo["quantity"].sum()

np.int64(4972)

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [160]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

#### Step 13.b. Create a lambda function and change the type of item price

In [161]:
chipo["item_price"] = chipo["item_price"].apply(lambda x: float(x.replace('$', '')))

In [162]:
# solution 2:  chipo["item_price"] = chipo["item_price"].str.slice(1).astype(float)

#### Step 13.c. Check the item price type

In [163]:
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

### Step 14. How much was the revenue for the period in the dataset?

In [164]:
revenue = f'${(chipo["quantity"] * chipo["item_price"]).sum()}'
print(revenue)

$39237.02

### Step 15. How many orders were made in the period?

In [165]:
chipo["order_id"].nunique()
# solution 2: chipo["order_id"].value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [169]:
# Solution 1
chipo['total_order_cost'] = chipo['quantity'] * chipo['item_price']
order_totals_mean = chipo.groupby('order_id')['total_order_cost'].sum().mean()
order_totals_mean

np.float64(21.39423118865867)

In [174]:
# Solution 2
mean_cost = (chipo['quantity'] * chipo['item_price']).sum() / chipo['order_id'].nunique()
print(mean_cost)

21.39423118865867

### Step 17. How many different items are sold?

In [145]:
chipo["item_name"].nunique()

50